/* 工业设备交易平台样式 */

body {
    font-family: 'Microsoft YaHei', Arial, sans-serif;
    padding-top: 70px;
    padding-bottom: 50px;
}

.navbar-brand {
    font-weight: bold;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    padding-top: 15px;
    border-top: 1px solid #ddd;
}

.thumbnail {
    height: 380px;
}

.thumbnail img {
    height: 200px;
    object-fit: cover;
}

.thumbnail .caption {
    height: 150px;
    overflow: hidden;
}

.thumbnail h4 {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel {
    margin-bottom: 20px;
}

.jumbotron {
    background-color: #f0f0f0;
    margin-top: 20px;
}
